extends layout

block content
  .container
    .row.row-offcanvas.row-offcanvas-right
      .col-12.col-md-9
        .container.marketing
          // Three columns of text below the carousel
          .row
            - for (var i = 0; i < books.length; i++)
              .col-lg-4
                img(src='images/' + books[i].cover, alt=books[i].title, width='176', height='233')
                h3.book-title #{books[i].title}
                p.book-author
                  span.text-small By:
                  | #{books[i].Author_name}
                p
                  a.btn.btn-secondary.btn-sm(href='#', role='button', data-toggle="modal", data-target="#book_det_modal" + i) Details »
                  - var av = (books[i].avilable == 1);
                  a.btn.btn-primary.btn-sm(href='#', role='button', data-toggle="modal",
                  data-target="#borrow_modal" + i, class=av? "": "disabled")
                    | Borrow
                    i.fa.fa-plus-square-o.right(aria-hidden='true')
              // The Modal
              div(id="book_det_modal" + i, class="modal fade")
                .modal-dialog
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title Book information
                      button.close(type='button', data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      .row
                        .col-5.bold
                          p Title
                          p Author
                          p Cover image
                          p No of pages
                          p Category
                          p ISBN
                          p Publish year
                          p Edition
                          p Description
                          p Available
                          p Publisher
                        .col-7
                          p #{books[i].title}
                          p
                            | #{books[i].Author_name}
                            a.btn.btn-link.btn-sm(href='#', role='button')
                              i.fa.fa-external-link(aria-hidden='true')
                          p
                            a.link #{books[i].cover}
                          p #{books[i].pages_no}
                          p #{books[i].category}
                          p #{books[i].isbn}
                          p #{books[i].publish_year}
                          p #{books[i].edition}
                          p
                            | #{books[i].description}
                          p #{books[i].avilable}
                          p
                            | #{books[i].Publisher_name}
                            a.btn.btn-link.btn-sm(href='#', role='button')
                              i.fa.fa-external-link(aria-hidden='true')
                    // Modal footer
                    .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              // /.col-lg-4
              div(id="borrow_modal" + i, class="modal fade")
                .modal-dialog.modal-lg
                  .modal-content
                    // Modal Header
                    .modal-header
                      h4.modal-title Borrow book
                      button.close(type='button', data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                      form(action="/borrow_book", method="post")
                        input(type='text', name="book_id", value=books[i].book_id, style="display: none")
                        .form-group
                          .row
                            .col-3
                              p.bold Name
                            .col-6
                              input.form-control.form-control-sm(type='text', name="Name")
                        .form-group
                          .row
                            .col-3
                              p.bold Address
                            .col-6
                              input.form-control.form-control-sm(type='text', name="Address")
                        .form-group
                          .row
                            .col-3
                              p.bold Email
                            .col-6
                              input.form-control.form-control-sm(type='email', name="Email")
                        .form-group
                          .row
                            .col-3
                              p.bold Contact Number
                            .col-6
                              input.form-control.form-control-sm(type='text', name="Contact_number")
                        .form-group
                          .row
                            .col-3
                              p.bold Gender
                            .col-6
                              select.form-control.form-control-sm(name="Gender")
                                option Male
                                option Female
                        .form-group
                          .row
                            .col-3
                              p.bold Membership
                            .col-6
                              .row
                                .col-6
                                  input.form-control.form-control-sm(placeholder='Type', type='text', name="Mem_type")
                                .col-6
                                  input.form-control.form-control-sm(type='date', placeholder='Exp. date', name="Exp_date")
                        .form-group
                          .row
                            .col-3
                              p.bold Department
                            .col-6
                              input.form-control.form-control-sm(type='text', name="Department_name")
                        button.btn.btn-primary(type="submit") Borrow
                    // Modal footer
                    .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          // /.row
      // /span
      include sidebar
    include footer
      // /span
    // /row
  // /.container
